            <!--Section: projects-->
            <section id="projects" class="text-center py-5">

                <!-- Container -->
                <div class="container">

                    <!-- Section heading -->
                    <h2 class="h1-responsive font-weight-bold mb-5">Latest News</h2>
                
                    <!-- Grid row -->
                    <div class="row text-center">

                        <!-- Grid column -->
                        <div class="col-sm-4 mb-4">
                            <!--Featured image-->
                            <div class="view overlay rounded z-depth-1">
                                <img src="https://mdbootstrap.com/img/Photos/Others/images/58.jpg" class="img-fluid" alt="Sample project image">
                                <a>
                                    <div class="mask rgba-white-slight"></div>
                                </a>
                            </div>
                            <!--Excerpt-->
                            <div class="card-body pb-0">
                                <h4 class="font-weight-bold my-3">VISIT OUR BRANCHES TODAY</h4>
                                <p class="grey-text">Temporibus autem quibusdam et aut officiis debitis aut rerum
                                    necessitatibus saepe eveniet ut et voluptates repudiandae.
                                </p>
                                <a class="btn btn-green btn-sm"><i class="fa fa-clone left"></i> View project</a>
                            </div>
                        </div>
                        <!-- Grid column -->

                        <!-- Grid column -->
                        <div class="col-sm-4 mb-4">
                            <!--Featured image-->
                            <div class="view overlay rounded z-depth-1">
                                <img src="https://mdbootstrap.com/img/Photos/Others/project4.jpg" class="img-fluid" alt="Sample project image">
                                <a>
                                    <div class="mask rgba-white-slight"></div>
                                </a>
                            </div>
                            <!--Excerpt-->
                            <div class="card-body pb-0">
                                <h4 class="font-weight-bold my-3">ONLINE MEMBER REGISTRATION</h4>
                                <p class="grey-text">Temporibus autem quibusdam et aut officiis debitis aut rerum
                                    necessitatibus saepe eveniet ut et voluptates repudiandae.
                                </p>
                                <a class="btn btn-green btn-sm"><i class="fa fa-clone left"></i> View project</a>
                            </div>
                        </div>
                        <!-- Grid column -->

                        <!-- Grid column -->
                        <div class="col-sm-4 mb-4">
                            <!--Featured image-->
                            <div class="view overlay rounded z-depth-1">
                                <img src="https://mdbootstrap.com/img/Photos/Others/images/88.jpg" class="img-fluid" alt="Sample project image">
                                <a>
                                    <div class="mask rgba-white-slight"></div>
                                </a>
                            </div>
                            <!--Excerpt-->
                            <div class="card-body pb-0">
                                <h4 class="font-weight-bold my-3">A REASON TO CELEBRATE</h4>
                                <p class="grey-text">Temporibus autem quibusdam et aut officiis debitis aut rerum
                                    necessitatibus saepe eveniet ut et voluptates repudiandae.
                                </p>
                                <a class="btn btn-green btn-sm"><i class="fa fa-clone left"></i> View project</a>
                            </div>
                        </div>
                        <!-- Grid column -->

                    </div>
                    <!-- Grid row -->

                </div>
                <!-- Container -->

            </section>
            <!--Section: projects-->     
