<%= render 'layouts/topnav' %>
<section>
        <br>
            <div class="container">
                <div class="row">
                <br>
                    <div class="col-sm-8">
                        <h2 class="text-uppercase green-text font-weight-bold">FOSA PRODUCTS</h2>
                        <hr class="green">
                        <p class="mb-0">We are pleased to announce and update all our customers/members that we have revised our interest rates and terms on our BOSA and FOSA loan products, as indicated below :-</p>
                        <br>
                        <table class="table">
                            <thead class="thead green">
                                <tr>
                                    <th scope="col">LOAN PRODUCT</th>
                                    <th scope="col">TERM(MONTHS)</th>
                                    <th scope="col">EFFECTIVE % INTEREST RATE P.A</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>FOSA Daima</td>
                                    <td>60</td>
                                    <td>8.2</td>
                                </tr>
                                <tr>
                                    <td>FOSA Flex</td>
                                    <td>48</td>
                                    <td>8.0</td>
                                </tr>
                                <tr>
                                    <td>FOSA Fahari</td>
                                    <td>36</td>
                                    <td>7.9</td>
                                </tr>
                                  <tr>
                                    <td>Mahitaji Loan</td>
                                    <td>1</td>
                                    <td>1.7</td>
                                </tr>
                                  <tr>
                                    <td>Bima Loan</td>
                                    <td>12</td>
                                    <td>11.3</td>
                                </tr>
                                  <tr>
                                    <td>Dividend Advance</td>
                                    <td>1</td>
                                    <td>10.0</td>
                                </tr>
                                  <tr>
                                    <td>Shares Investment Loan</td>
                                    <td>12</td>
                                    <td>11.3</td>
                                </tr>
                                  <tr>
                                    <td>Shares Investment Loan</td>
                                    <td>1</td>
                                    <td>10</td>
                                </tr>
                            </tbody>
                        </table>
                        <hr class="green">
                        <br>
                        <h5 class="text-uppercase green-text font-weight-bold">FOSA Daima loan</h5>
                        <p class="mb-0">
                             Loan granted to members whose salaries are remitted through the FOSA Account. It is based on net salary as per the pay slip. Loan term is 48 Months. Interest calculation based on monthly amortization. Effective interest rate of 8.0 % per annum.
                        </p>
                        <br>
                        <h5 class="text-uppercase green-text font-weight-bold">FOSA Flex Loan</h5>
                        <p class="mb-0">
                              Loan granted to members whose salaries are remitted through the FOSA Account. It is based on net salary as per the pay slip. Loan term is 48 Months. Interest calculation based on monthly amortization. Effective interest rate of 8.0 % per annum.
                        </p>
                        <br>
                        <h5 class="text-uppercase green-text font-weight-bold">FOSA Fahari Loan</h5>
                        <p class="mb-0">
                              Loan granted to members whose salaries are remitted through Fosa. It is based on the net salary as per the pay slip. Loan term is 36 Months. Interest calculation based on monthly amortization. Effective interest rate of 7.9 % per annum.
                        </p>
                        <br>
                        <h5 class="text-uppercase green-text font-weight-bold">Mahitaji Loan</h5>
                        <p class="mb-0">
                             A one-month advance based on net salary recoverable once at 1.7 % payable once
                        </p>
                        <br>
                        <h5 class="text-uppercase green-text font-weight-bold">Shares Investments Loan</h5>
                        <p class="mb-0">
                             This loan is to finance members who wish to buy shares at the NSE. Loan term is 12 months. Interest calculation based on monthly amortization. Effective interest rate of 11.3 % per annum.
                        </p>
                        <br>
                        <h5 class="text-uppercase green-text font-weight-bold">BIMA Loan</h5>
                        <p class="mb-0">
                              This is a loan to finance members pay for their insurance premiums. Loan term is 12 months. Interest calculation based on monthly amortization. Effective interest rate of 11.3 % per annum
                        </p>
                        <br>
                        <h5 class="text-uppercase green-text font-weight-bold">Dividend Advance</h5>
                        <p class="mb-0">
                            An advance based on a member’s projected dividends. Recoverable once upon dividend payment at interest rate of 10% on amount granted.
                                <br>
                            NB:All FOSA Branches can process any of the BOSA Loans upto a maximum of Kshs 100,000/-.
                        </p>
                        <br>
                        <h5 class="text-uppercase green-text font-weight-bold">Mahitaji Mobile Loan</h5>
                        <p class="mb-0">
                             Lcalculation based on monthly amortization. Effective interest rate of 8.2 % per annum.
                        </p>
                    </div>
                    <div class="col-sm-4">
                        <h4 class="text-uppercase green-text font-weight-bold">OTHER SERVICES AT FOSA</h4>
                            <hr class="green">
                            <br>
                            <p><i class="fa fa-check-circle green-text text-capitalize"></i> ATM Services</p>
                            <p><i class="fa fa-check-circle green-text text-capitalize"></i> Mobile Banking Services</p>
                            <p><i class="fa fa-check-circle green-text text-capitalize"></i> Salary processing</p>
                            <br>
                            <hr>
                        <h4 class="text-uppercase green-text font-weight-bold">OTHER SERVICES APPLICABLE TO BOSA & FOSA LOANS</h4>
                            <hr class="green">
                            <p class="mb-0 font-weight-bold">Loan Top-up (Daraja Loan)</p>
                            <p><i class="fa fa-check-circle green-text text-capitalize"></i> This refers to any new loan meant to clear any other outstanding loan balance(s).</p>
                            <p><i class="fa fa-check-circle green-text text-capitalize"></i> Commission of 5% is charged on the amount cleared</p>
                            <p class="mb-0 font-weight-bold">Loan Top-up (Daraja Loan)</p>
                            <p><i class="fa fa-check-circle green-text text-capitalize"></i> Deposit Boosting Purchase (Hisa Loan)</p>
                            <p><i class="fa fa-check-circle green-text text-capitalize"></i> Granted to a maximum of 100% of a member’s deposits but not exceeding Kshs 750,000/=</p>
                            <hr>
                        <h4 class="text-uppercase green-text font-weight-bold">OTHER APPRAISAL REQUIREMENTS FOR BOSA & FOSA LOANS</h4>
                            <hr class="green">
                            <p><i class="fa fa-check-circle green-text text-capitalize"></i> The loan applicant must complete loan form in full. Incomplete forms are returned unconsidered.</p>
                            <p><i class="fa fa-check-circle green-text text-capitalize"></i> Non-salaried members applying for Bosa Loans are required to attach the most recent 4 months’ Fosa account statement.</p>
                            <p><i class="fa fa-check-circle green-text text-capitalize"></i> Only members remitting their salary through Fosa are eligible for Fosa loans.</p>
                            <p><i class="fa fa-check-circle green-text text-capitalize"></i> New members need to be active contributors for at least 6 months to be eligible for loans with exemption of Chipukizi Loan only./p>
                            <hr>
                        <h4 class="text-uppercase green-text font-weight-bold">FOSA BRANCH NETWORK</h4>
                            <hr class="green">
                            <p>1. Nairobi Branch, Ukulima House, Haille Selasie Avenue</p>
                            <p>2. Kisumu Branch, United Mall, Ground floor, Wing A</p>
                            <p>3. Mombasa Branch, Bahman Trust Building, Mikindani street</p>
                            <p>4. Eldoret Branch, Sirikwa Hotel Building</p>
                    </div>
                </div>
            </div>   
        <br>
        <hr class="white">
        <br>
</section>
