<%= render 'layouts/topnav' %>
    <main>
        <div class="container">

            <!--Section: Examples-->
            <section id="examples" class="text-center">

                <!-- Heading -->
                <h2 class="mb-5 font-weight-bold">WELCOME TO UKULIMA SACCO</h2>
                <p class="font-weight-bold">Our Vision: "Your Preferred Financial Partner"</p>

                <!--Grid row-->
                <div class="row">
                                            
                    <!--Grid column-->
                    <div class="col-sm-3 mb-4">

                        <div class="view overlay z-depth-1-half">
                            <img src="https://mdbootstrap.com/img/Photos/Others/images/48.jpg" class="img-fluid" alt="">
                            <div class="mask rgba-white-slight"></div>
                        </div>

                        <h5 class="my-4 font-weight-bold">Diaspora Members</h5>
                        <hr class="green">
                        <p class="grey-text" maxlength="50" >Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores nam, aperiam minima assumenda deleniti hic.</p>

                    </div>
                    <!--Grid column-->

                    <!--Grid column-->
                    <div class="col-sm-3 mb-4">

                        <div class="view overlay z-depth-1-half">
                            <img src="https://mdbootstrap.com/img/Photos/Others/images/48.jpg" class="img-fluid" alt="">
                            <div class="mask rgba-white-slight"></div>
                        </div>

                        <h5 class="my-4 font-weight-bold">We Care About You</h5>
                        <hr class="green">
                        <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit
                            maiores nam,
                            aperiam minima
                            assumenda deleniti hic.</p>

                    </div>
                    <!--Grid column-->

                    <!--Grid column-->
                    <div class="col-sm-3 mb-4">

                        <div class="view overlay z-depth-1-half">
                            <img src="https://mdbootstrap.com/img/Photos/Others/images/48.jpg" class="img-fluid" alt="">
                            <div class="mask rgba-white-slight"></div>
                        </div>

                        <h5 class="my-4 font-weight-bold">Why choose us?</h5>
                        <hr class="green">
                        <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit
                            maiores nam,
                            aperiam minima
                            assumenda deleniti hic.</p>

                    </div>
                    <!--Grid column-->

                    <!--Grid column-->
                    <div class="col-sm-3 mb-4">

                        <h4>A Little More About Us</h4>
                        <hr class="green">

                        <p class="grey-text text-md text-truncate">
                            Ukulima is Deposit Taking Sacco licensed by SSASRA.

                            From 1972 Ukulima Sacco was registered as a Co-operative Savings and Credit Society and started operation under Certificate of registration number CS2026 and mainly to promote thrift among Ministry of Agriculture employees to save and borrow at low cost in order to meet the employees’ socio- economic needs.
                        </p>
                        <%= link_to '', about_About_Us_path, class:"fa fa-arrow-circle-right fa-2x green-text" %>

                    </div>
                    <!--Grid column-->

                </div>
                <!--Grid row-->

            </section>
            <!--Section: Examples-->

            <hr class="my-5 green">

            <!--Section: Best Features-->
            <section id="best-features" class="text-center">

                <!-- Heading -->
                <h2 class="mb-5 font-weight-bold">OUR SERVICES</h2>

                <!--Grid row-->
                <div class="row d-flex justify-content-center mb-4">

                    <!--Grid column-->
                    <div class="col-md-8">

                        <!-- Description -->
                        <p class="grey-text font-weight-bold">Below are the services offered by Ukulima Savings and Credit Cooperative LTD.</p>

                    </div>
                    <!--Grid column-->

                </div>
                <!--Grid row-->

                <!--Grid row-->
                <div class="row">

                    <!--Grid column-->
                    <div class="col-md-4 mb-5">
                        <i class="fa fa-usd fa-4x green-text"></i>
                        <h4 class="my-4 font-weight-bold">FOSA PRODUCTS</h4>
                        <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit
                            maiores nam,
                            aperiam minima
                            assumenda deleniti hic.</p>
                    </div>
                    <!--Grid column-->

                    <!--Grid column-->
                    <div class="col-md-4 mb-1">
                        <i class="fa fa-gbp fa-4x green-text"></i>
                        <h4 class="my-4 font-weight-bold">BOSA PRODUCTS</h4>
                        <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit
                            maiores nam,
                            aperiam minima
                            assumenda deleniti hic.</p>
                    </div>
                    <!--Grid column-->

                    <!--Grid column-->
                    <div class="col-md-4 mb-1">
                        <i class="fa fa-university fa-4x green-text"></i>
                        <h4 class="my-4 font-weight-bold">BANKING SERVICES</h4>
                        <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit
                            maiores nam,
                            aperiam minima
                            assumenda deleniti hic.</p>
                    </div>
                    <!--Grid column-->

                </div>
                <!--Grid row-->

            </section>
            <!--Section: Best Features-->

            <!--Section: articles-->
            <section id="articles" class="text-center py-5">

                <!-- Container -->
                <div class="container">

                    <!-- Section heading -->
                    <h2 class="h1-responsive font-weight-bold mb-5">OUR PORTFOLIO</h2>

                    <!--Grid row-->
                    <div class="row">

                        <!--Grid column-->
                        <div class="col-sm-4 mb-4">

                            <!-- Card Narrower -->
                            <div class="card card-cascade narrower">

                                <!-- Card image -->
                                <div class="view view-cascade">
                                    <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(147).jpg"
                                        alt="Card image cap">
                                    <a>
                                        <div class="mask img-gradient"></div>
                                    </a>
                                </div>

                            </div>
                            <!-- Card Narrower -->

                        </div>
                        <!--Grid column-->

                        <!--Grid column-->
                        <div class="col-sm-4 mb-4">

                            <!-- Card Narrower -->
                            <div class="card card-cascade narrower">

                                <!-- Card image -->
                                <div class="view view-cascade">
                                    <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(147).jpg"
                                        alt="Card image cap">
                                    <a>
                                        <div class="mask img-gradient"></div>
                                    </a>
                                </div>


                            </div>
                            <!-- Card Narrower -->

                        </div>
                        <!--Grid column-->

                        <!--Grid column-->
                        <div class="col-sm-4 mb-4">

                            <!-- Card Narrower -->
                            <div class="card card-cascade narrower">

                                <!-- Card image -->
                                <div class="view view-cascade">
                                    <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(147).jpg"
                                        alt="Card image cap">
                                    <a>
                                        <div class="mask img-gradient"></div>
                                    </a>
                                </div>

                            </div>
                            <!-- Card Narrower -->

                        </div>
                        <!--Grid column-->

                                            <!--Grid column-->
                        <div class="col-sm-4 mb-4">

                            <!-- Card Narrower -->
                            <div class="card card-cascade narrower">

                                <!-- Card image -->
                                <div class="view view-cascade">
                                    <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(147).jpg"
                                        alt="Card image cap">
                                    <a>
                                        <div class="mask img-gradient"></div>
                                    </a>
                                </div>

                            </div>
                            <!-- Card Narrower -->

                        </div>
                        <!--Grid column-->

                                                                <!--Grid column-->
                        <div class="col-sm-4 mb-4">

                            <!-- Card Narrower -->
                            <div class="card card-cascade narrower">

                                <!-- Card image -->
                                <div class="view view-cascade">
                                    <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(147).jpg"
                                        alt="Card image cap">
                                    <a>
                                        <div class="mask img-gradient"></div>
                                    </a>
                                </div>

                            </div>
                            <!-- Card Narrower -->

                        </div>
                        <!--Grid column-->

                                                                <!--Grid column-->
                        <div class="col-sm-4 mb-4">

                            <!-- Card Narrower -->
                            <div class="card card-cascade narrower">

                                <!-- Card image -->
                                <div class="view view-cascade">
                                    <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(147).jpg"
                                        alt="Card image cap">
                                    <a>
                                        <div class="mask img-gradient"></div>
                                    </a>
                                </div>

                            </div>
                            <!-- Card Narrower -->

                        </div>
                        <!--Grid column-->

                    </div>
                    <!--Grid row-->

                </div>
                <!-- Container -->

            </section>
            <!--Section: articles-->

            <%= render 'latest/latest' %> 
            <%= render 'contact/contacts' %>

        </div>
    </main>

    <!--Main layout-->
