<%= render 'layouts/topnav' %>
<section>
    <br>
        <div class="container">
            <div class="row">
            <br>
                <div class="col-sm-5">
                    <h2 class="text-uppercase black-text font-weight-bold">OUR HISTORY</h2>
                    <hr class="green">
                    <p class="mb-0">Ukulima is Deposit Taking Sacco licensed by Sacco Societies Regulatory Authority (SASRA).
                        <br>
                    From a humble beginning in 1972 Ukulima Sacco was registered as a Co-operative Savings and Credit Society and started operation under Certificate of registration number CS2026 and mainly to promote thrift among Ministry of Agriculture employees to save and borrow at low cost in order to meet the employees’ socio- economic needs.</p>
                </div>
                <div class="col-sm-3">
                    <h6 class="text-uppercase black-text font-weight-bold">OUR VISION</h6>
                        <hr class="green">
                        <p class="mb-0">Your preffered financial partner.</p>
                        <br>
                        <h6 class="text-uppercase black-text font-weight-bold">OUR SLOGAN</h6>
                        <hr class="green">
                        <p class="text-sm">United in creating wealth.</p>
                        <br>
                        <h6 class="text-uppercase black-text font-weight-bold">MISSION</h6>
                        <hr class="green">
                        <p class="mb-0">Enhance members empowerment through provision of quality financial services.</p>
                </div>
                <div class="col-sm-4">
                    <h4 class="text-uppercase black-text font-weight-bold">our objectives</h4>
                        <hr class="green">
                        <p class="mb-0">Our Society exists to offer the following services:-</p>
                        <br>
                        <p><i class="fa fa-check-circle green-text"></i> Afford member an opportunity to accumulate their savings.</p>
                        <p><i class="fa fa-check-circle green-text"></i> Provide members with credit at a fair and affordable rates of interest to improve their economic and social welfare.</p>
                        <p><i class="fa fa-check-circle green-text"></i> Educate members on the proper use of credit and to fully utilise the products and services in the Society.</p>
                </div>
            </div>
        </div>   
    <br>
    <hr class="white">
    <br>
         <div class="container">
            <div class="row">
            <br>
                <div class="col-sm-3">
                    <h5 class="text-uppercase black-text font-weight-bold">what drives us?</h5>
                    <hr class="green">
                    <p class="mb-0">At Hekima, we are bound by core values abbreviated as CATRAC:.</p>
                    <br>
                    <p class="text-sm"><i class="fa fa-arrow-circle-right green-text"></i> Customer focus</p>
                    <p class="text-sm"><i class="fa fa-arrow-circle-right green-text"></i> Accountability</p>
                    <p class="text-sm"><i class="fa fa-arrow-circle-right green-text"></i> Trustworthy</p>
                    <p class="text-sm"><i class="fa fa-arrow-circle-right green-text"></i> Responsible</p>
                    <p class="text-sm"><i class="fa fa-arrow-circle-right green-text"></i> Adaptive</p>
                    <p class="text-sm"><i class="fa fa-arrow-circle-right green-text"></i> Creativity and Innovativeness</p>
                </div>
                <div class="col-sm-5">
                    <h5 class="text-uppercase black-text font-weight-bold">What makes us different?</h5>
                        <hr class="green">
                        <p class="mb-0"><i class="fa fa-check green-text"></i> Ability to provide an opportunity for each member to improve economically and socially.</p>
                        <p class="mb-0"><i class="fa fa-check green-text"></i> Assurance of Safety and soundness of members’ funds through risk Management programs.</p>
                        <br>
                        <h5 class="text-uppercase black-text font-weight-bold">Why you should choose us?</h5>
                        <hr class="green">
                        <p class="mb-0"><i class="fa fa-check green-text"></i> Differentiated products & services that meet members financial needs</p>
                        <p class="mb-0"><i class="fa fa-check green-text"></i> Good Service delivery</p>
                        <p class="mb-0"><i class="fa fa-check green-text"></i> Strong Asset Base</p>
                        <p class="mb-0"><i class="fa fa-check green-text"></i> Competitive Interest rates on loans</p>
                        <br>
                </div>
                <div class="col-sm-4">
                    <h4 class="text-uppercase black-text font-weight-bold">Branch Network</h4>
                        <hr class="green">
                        <p class="mb-0">In endeavor to take services closer to members and offer personalized services, Ukulima established 107 virtual branches country wide by Branch Officials and Seven (7) FOSA Branches in :</p>
                        <br>
                        <p><i class="fa fa-check green-text text-capitalize"></i> nairobi</p>
                        <p><i class="fa fa-check green-text text-capitalize"></i> eldoret</p>
                        <p><i class="fa fa-check green-text text-capitalize"></i> kapsabet</p>
                        <p><i class="fa fa-check green-text text-capitalize"></i> mombasa</p>
                        <p><i class="fa fa-check green-text text-capitalize"></i> kisumu</p>
                </div>
            </div>
        </div> 
        <br>
        <hr class="white">
        <br>
         <div class="container">
            <div class="row">
            <br>
                <div class="col-sm-6">
                    <h3 class="text-uppercase black-text font-weight-bold">OUR CORE VALUES</h3>
                    <hr class="green">
                    <p class="mb-0">At Hekima Sacco we:</p>
                    <br>
                    <p class="text-sm"><i class="fa fa-arrow-circle-right green-text"></i> Are committed to providing quality and efficient services to our members</p>
                    <p class="text-sm"><i class="fa fa-arrow-circle-right green-text"></i> Believe in being an efficient accountable and friendly organization</p>
                    <p class="text-sm"><i class="fa fa-arrow-circle-right green-text"></i> Embrace sound management practices</p>
                    <p class="text-sm"><i class="fa fa-arrow-circle-right green-text"></i> Believe in providing an enabling working environment that promotes communication, teamwork and mutual trust</p>
                    <p class="text-sm"><i class="fa fa-arrow-circle-right green-text"></i> Believe in adopting modern information communication technology to enhance service delivery</p>
                    <p class="text-sm"><i class="fa fa-arrow-circle-right green-text"></i> Believe in being a responsible corporate citizen Other valuesAdditionally, we:</p>
                    <p class="text-sm"><i class="fa fa-arrow-circle-right green-text"></i> Are committed to recruiting, retaining, developing and rewarding competent personnel</p>
                    <p class="text-sm"><i class="fa fa-arrow-circle-right green-text"></i> Are an equal opportunity employer</p>
                    <p class="text-sm"><i class="fa fa-arrow-circle-right green-text"></i> Cherish creativity, innovation and continuous learning</p>
                </div>
                <div class="col-sm-6">
                    <h3 class="text-uppercase black-text font-weight-bold">OUR COMMITMENT</h3>
                        <hr class="green">
                        <p><i class="fa fa-check green-text text-capitalize"></i> Offer excellent services with courtesy,Integrity and impartially.</p>
                        <p><i class="fa fa-check green-text text-capitalize"></i> Attend to member’s within 30 minutes of visit and handle members’ needs with confidentiality and urgency it deserves;</p>
                        <p><i class="fa fa-check green-text text-capitalize"></i> There will be a customer care officer available to attend to members problems;</p>
                        <p><i class="fa fa-check green-text text-capitalize"></i> All services to our members are offered free of charge as per our existing policies. Kindly assist us by not compromising our staff at all levels.</p>
                        <p><i class="fa fa-check green-text text-capitalize"></i> Ukulima Sacco is a corruption free zone</p>
                </div>
            </div>
        </div> 
        <br>
</section>


