<%= render 'layouts/topnav' %>
<section>
        <br>
            <div class="container">
                <div class="row">
                <br>
                    <div class="col-sm-8">
                        <h3 class="text-capitalize green-text font-weight-bold">contacts</h3>
                        <hr class="green">
                        <h5 class="text-capitalize font-weight-bold">Head Office</h5>
                        <p class="mb-0">Ukulima Co-operative House, Haile Selassie Avenue, P. O. Box 44071-00100 Nairobi, Tel 0202785000</p>
                        <br>
                        <h5 class="text-capitalize font-weight-bold">Kisumu Branch</h5>
                        <p class="mb-0">United Mall, Ground Floor, Wing A, P. O. Box 1378-40100 Kisumu. Tel 057-2020169</p>
                        <br>
                        <h5 class="text-capitalize font-weight-bold">Mombasa Branch</h5>
                        <p class="mb-0">Bahman Trust Building, Mikindani Street, P. O. Box 86051-80100 Mombasa, Tel 020-2616972, 041-2312444</p>
                        <br>
                        <h5 class="text-capitalize font-weight-bold">Eldoret Branch</h5>
                        <p class="mb-0">Sirikwa Hotel Building, Oloo Street, P. O. Box 6703-30100 Eldoret, Tel 053-2032346</p>
                        <br>
                        <hr class="green">
                        <p class="mb-0 grey-text"><i class="fa fa-envelope green-text"></i> Email within Kenya - info@hekimasacco.coop</p>
                        <br>
                        <p class="mb-0 grey-text"> <i class="fa fa-envelope green-text"></i> Email outside Kenya - diaspora@hekimasacco.coop</p>

                    </div>
                    <div class="col-sm-4">
                    <div class="card text-white bg-success mb-3" style="max-width: 18rem;">
                        <div class="card-header"><h5 class="text-uppercase">Benefits to the members</h5></div>
                        <div class="card-body">
                            <p><i class="fa fa-check-circle white-text"></i> Savings through shares contribution</p>
                            <p><i class="fa fa-check-circle white-text"></i> Payment of attractive dividends on your deposits</p>
                            <p><i class="fa fa-check-circle white-text"></i> Affordable loan facilities with no negotiation fees</p>
                            <p><i class="fa fa-check-circle white-text"></i> Banking facilities at our front offices, ATM, Mobile Banking</p>
                            <p><i class="fa fa-check-circle white-text"></i> Education to Members</p>
                        </div>
                    </div>
                </div>
            </div>   
        <%= render 'contact/contacts' %>
</section>

